body{
    line-height:1.4;
    color:#333;
    font-family:tahoma,arial,\5b8b\4f53;
    font-size: 12px;
}
input,textarea,select{
    font-size:100%;    
    font-family:inherit;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form{
    margin:0;
}
h4,h5,h6{
    font-size:1em;
}
ul,ol{
    padding-left:0; 
    list-style-type:none;
}
img{border:0;}
a{outline:none;}
.ui-dialog{
	position: absolute;position: absolute; left: 50%; top: 50%;z-index: 99;
    transform: translate(-50%, -50%); border:1px solid #DDD;box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.ui-dialog-title{
	line-height: 32px;text-align: center; border-bottom: 1px solid #DDD;
}
.ui-dialog-content{
	line-height: 32px; text-align: left; padding: 0 10px;
}
.ui-dialog-btn{ float: right;}
.ui-dialog-btn input{ margin: 0 5px;}
.ui-dialog-close{ position: absolute;right: 5px; top: 5px; width: 20px; height: 20px; text-align: center;}